.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 1440px;
    height: 699px;
    background-color: #1C324C;
   
}


.conteudo{
    display: flex;
}

.lef-content{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

@media (max-width: 610px) {
.main-content{
    width: 610px;
    height: fit-content;
}
.lef-content{
    width: 100%;
}
}


