.main-about{
    display: flex;
    align-items: normal;
    justify-content: end;
    min-height: 482px;
    width: 1440px;
    box-sizing: border-box;

}

.figure-about{
    display: flex;
}

@media (max-width: 610px) {
    .main-about{
        align-items: center;
        min-height: auto;
        flex-direction: column;
        width: auto;
    }
  
    }
    
    